*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html,body
{
 font-family: "Press Start 2P";
 height:100%;
 background-color: cadetblue;
}
body{
    font-family: "Press Start 2P",cursive;
    background: brown;
    color: beige;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:center;
}
.score{
    font-size: 4em;
    margin-bottom: .5em;
}
.board{
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:80px

}


.hole
{   
background-color: beige;
border-radius:30px;
box-shadow: inset 0px -40px  rgb(231, 163, 103);

}
/*mmmmjames) This will be change later in the futrue*/
/*---------------------------------------------------------------*/
.professor
{
   position: absolute;

   object-fit: cover; 
}
.professor_hit
{
    position: absolute;

   object-fit: cover;
}
.students
{
    position: absolute;

    object-fit: cover;
}
.students_hit
{
    position: absolute;

   object-fit: cover;

}
.dean
{
    position: absolute;

   object-fit: cover;
}
.dean_hit
{

    position: absolute;

   object-fit: cover;
}
.admin
{

    position: absolute;

   object-fit: cover;
}.admin_hit
{

    position: absolute;

   object-fit: cover;
}
/*---------------------------------------------------------------*/
