*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html,body
{
 font-family: "Press Start 2P";
 height:100%;
 background-color: cadetblue;
}
body{
    font-family: "Press Start 2P",cursive;
    background: brown;
    color: beige;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:center;
    overflow: hidden;
    
}
.score{
    font-size: 4em;
    margin-bottom: .5em;
}
.board{
    height: 700px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:80px;

}


.hole
{   
background-color: beige;
border-radius:30px;
position: relative;
overflow: hidden;

}
<<<<<<< .mine
/*james) This will be change later in the futrue*/
||||||| .r15
/*mmmmjames) This will be change later in the futrue*/
=======
.hole .students{

    width:410px;
    position: absolute;
    left: 130%;
    transform: translateX(-50%);
    top:-70px;
    animation: rise .5s ease-out;
}
    @keyframes rise {
      0%{
        transform: translateX(-50%) translateY(100%);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}
    .cursor{
        height: 110px;
        width: 100px;
        position: absolute;
        top:100px;
        left: 100px;
        background-color: aquamarine;
        transform: translate(-20%, -20%);
        transition: transform .1s;
        pointer-events: none;
    }
    
    .cursor .active{
        transform: translate(-20%, -20%)rotate(45deg);
    }
/*mmmmjames) This will be change later in the futrue*/
>>>>>>> .r19
/*---------------------------------------------------------------*/
.professor
{
   position: absolute;

   object-fit: cover; 
}
.professor_hit
{
    position: absolute;

   object-fit: cover;
}

.dean
{
    position: absolute;

   object-fit: cover;
}
.dean_hit
{

    position: absolute;

   object-fit: cover;
}
.admin
{

    position: absolute;

   object-fit: cover;
}.admin_hit
{

    position: absolute;

   object-fit: cover;
}
/*---------------------------------------------------------------*/

